.menuBar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuBarTop, .menuBarBottom{
    text-align: center;
    margin: 0;
}

.counters {
    margin-right: 1em;
}

.counters p {
    margin: 0em;
}

.map, .inventory, .settings{
    display: flex;
    margin-left: 1em;
}